@charset "utf-8";

// Core variables and mixins
@import "base/variables";
@import "base/mixins";

// Custom Fonts
{% if site.data.style.fonts %}
  {% for font in site.data.style.fonts %}
    @mixin {{ font.for }}-font {
      font-family: "{{ font.name }}", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
  {% endfor %}
{% endif %}

// Custom colors
$primary: {{ site.data.style.highlight | default: "#fed136" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page";

// Components
@import "components/buttons";
@import "components/navbar";
@import "components/client-scroll";

// Layout
@import "layout/masthead";
@import "layout/services";
@import "layout/portfolio";
@import "layout/timeline";
@import "layout/team";
@import "layout/contact";
@import "layout/footer";
