@charset "utf-8";

// Core variables and mixins
@import "base/variables";
@import "base/mixins";

// Custom colors and images
$primary: {{ site.data.style.highlight | default: "#008080" }} !default;
$white: {{ site.data.style.white | default: "#ffffff" }} !default;
$black: {{ site.data.style.black | default: "#000000" }} !default;

$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Base styles
@import "base/page";

// Components
@import "components/buttons";
@import "components/navbar";
@import "components/client-scroll";

// Layouts
@import "layout/masthead";
@import "layout/services";
@import "layout/portfolio";
@import "layout/timeline";
@import "layout/team";
@import "layout/contact";
@import "layout/footer";
